.PhoneInput {
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 12px;
  margin: 0.5rem 0;
  padding-left: 1rem;
  border: none;
}

.PhoneInputInput {
  flex: 1;
  height: 3rem;
  margin-left: 1rem;
  padding-left: 1rem;
  border-radius: 12px;
  background-color: #f6f6f6;
  border: none;
}
